{% extends "base.html" %}
{% load staticfiles %}


{% block extra_estilos %}
    <link rel="stylesheet" type="text/css" href="{% static 'libs/sweetalert/sweetalert.css' %}"> <!-- original -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/styles/libs/sweetalert/sweetalert.min.css' %}"> <!-- customization -->
    <link rel="stylesheet" type="text/css" href="{% static 'libs/prism/prism.css' %}"> <!-- original -->
{% endblock %}
{% block scrumb %}
            <div class="ks-page-header">
                <section class="ks-title-and-subtitle">
                    <div class="ks-title-block">
                        <h3 class="ks-main-title">Editar Repositor</h3>
                        <div class="ks-sub-title">El Repositor Agregado tendra acceso a la APP Controller.</div>
                    </div>
                </section>
            </div>
        {% endblock %}

{% block contenido %}
<div class="ks-dashboard-tabbed-sidebar-widgets">
                        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Repositor</h5>
                <button class="close">
                    <span aria-hidden="true" class="la la-user"></span>
                </button>
            </div>
            {% if error_msg %}
                <div class="alert alert-danger ks-solid" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" class="la la-close"></span>
                    </button>
                    <strong>ERROR!</strong> {{ error_msg }}
                </div>
            {% endif %}
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-container" method="post">{% csrf_token %}
                        <div class="form-group row">
                            <label for="example-text-input" class="col-4 col-form-label">Nombres</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="nombres" value="{{ usuario.usuario.first_name | default:''}}" id="example-name-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-4 col-form-label">Apellidos</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="apellidos" value="{{ usuario.usuario.last_name | default:''}}" id="example-apellido-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-email-input" class="col-4 col-form-label">Correo Electronico</label>
                            <div class="col-8">
                                <input class="form-control" type="email" name="email" value="{{ usuario.usuario.email | default:''}}" id="example-email-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-url-input" class="col-4 col-form-label">Legajo N°</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="legajo" value="{{ form.legajo.value | default:''}}" id="example-url-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-tel-input" class="col-4 col-form-label">Nombre de Usuario</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="usuario" value="{{ usuario.usuario.username | default:''}}" id="example-usuario-input">
                            </div>
                        </div>
                        <!--
                        <div class="form-group row">
                            <label for="default-input-rounded" class="col-sm-4 form-control-label">Jefe de Supermercado</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="jefe_supermercado">
                                        <option value="{{ usuario.jefe.id }}">{{ usuario.jefe.usuario.first_name }} {{ usuario.jefe.usuario.last_name }}</option>
                                        <option value="none">-</option>
                                    {% for jefe in jefes %}
                                        <option value="{{jefe.id}}">{{jefe.nombres}} {{jefe.apellidos}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        -->
                        <div class="form-group row">
                            <div class="text-center col-lg-12">
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                            </div>
                            <!-- {% if habilitado %}
                            <div class="text-center col-sm-12 col-md-6">
                                <button type="button" class="btn btn-danger sweet-4">Inhabilitar APP</button>
                            </div>
                            {% else %}
                            <div class="text-center col-sm-12 col-md-6">
                                <button type="button" class="btn btn-success sweet-4">Habilitar APP</button>
                            </div>
                            {% endif %} -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}



{% block extra_scripts %}

<script src="{% static 'libs/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'libs/prism/prism.js' %}"></script>
<script type="application/javascript">
(function ($) {
    $(document).ready(function() {
        document.querySelector('.sweet-4').onclick = function(){
            swal({
                    title: "Inhabilitar APP",
                    text: "Este repositor ya no tendra acceso a la APP, pero seguira en la lista de Repositores Activos.",
                    showCancelButton: true,
                    confirmButtonClass: 'btn-danger',
                    confirmButtonText: 'Inhabilitar',
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function(){
                    swal({
                        title: "Inhabilitado!",
                        text: "El repositor ya no tiene acceso a la APP",
                        confirmButtonClass: 'btn-success',
                        confirmButtonText: "Ok"
                    });
                });
        };


    });
})(jQuery);
</script>
{% endblock %}