{% extends "base.html" %}
{% load staticfiles %}

{% block scrumb %}
            <div class="ks-page-header">
                <section class="ks-title-and-subtitle">
                    <div class="ks-title-block">
                        <h3 class="ks-main-title">Agregar Repositor</h3>
                        <div class="ks-sub-title">El Repositor Agregado tendra acceso a la APP Controller.</div>
                    </div>
                </section>
            </div>
        {% endblock %}

{% block contenido %}
<div class="ks-dashboard-tabbed-sidebar-widgets">
                        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Repositor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-user"></span>
                </button>
            </div>
            {{ form.errors }}
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="form-container" method="post">{% csrf_token %}
                        <div class="form-group row">
                            <label for="example-text-input" class="col-4 col-form-label">Nombres</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="nombres" value="{{ form.nombres.value | default:''}}" id="example-name-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-search-input" class="col-4 col-form-label">Apellidos</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="apellidos" value="{{ form.apellidos.value | default:''}}" id="example-apellido-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-email-input" class="col-4 col-form-label">Correo Electronico</label>
                            <div class="col-8">
                                <input class="form-control" type="email" name="email" value="{{ form.email.value | default:''}}" id="example-email-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-url-input" class="col-4 col-form-label">Legajo N°</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="legajo" value="{{ form.legajo.value | default:''}}" id="example-url-input">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="example-tel-input" class="col-4 col-form-label">Nombre de Usuario</label>
                            <div class="col-8">
                                <input class="form-control" type="text" name="username" value="{{ form.username.value | default:''}}" id="example-username-input">
                            </div>
                        </div>
                        <!--
                        <div class="form-group row">
                            <label for="default-input-rounded" class="col-sm-4 form-control-label">Jefe de Supermercado</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="jefe_supermercado">
                                        <option value="">-</option>
                                    {% for jefe in jefes %}
                                        <option value="{{jefe.id}}">{{jefe.nombres}} {{jefe.apellidos}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        -->
                        <div class="form-group row">
                            <div class="text-center col-sm-12">
                                <button type="submit" class="btn btn-primary">Registrar Repositor</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}